
            <% if(items && items.length){ %>

            <% for (var i = 0; i < items.length; i ++) { %>
            <li>
                <p><%= items[i].text %></p>
                <% if(items[i].reply){ %>
                <div class="reply"><strong>卖家回复：</strong><%=items[i].reply%></div>
                <% } %>
                <p><%= items[i].deal %></p>
                <p><%= items[i].buyer %><em><%= app.helper.rank(items[i].credit)%></em><%= items[i].date %></p>
            </li>
            <% } %>


        <% } %>
