<section class="c-comm">

    <div id="J_commcont" class="cc-cont">
        <% if(items && items.length){ %>
        <ul>
            <% for (var i = 0; i < items.length; i ++) { %>
            <li>
                <p><%= items[i].text %></p>
                <% if(items[i].reply){ %>
                <div class="reply"><strong>卖家回复：</strong><%=items[i].reply%></div>
                <% } %>
                <p><%= items[i].deal %></p>
                <p><%= items[i].buyer %><em><%= app.helper.rank(items[i].credit)%></em><%= items[i].date %></p>
            </li>
            <% } %>
        </ul>
        <% } %>
    </div>
    <div id="J_listload" class="c-loading dc-load none">
        <span></span>
    </div>
    <div id="J_dcpage" class="c-pnav-con"></div>
</section>
