<section class="d-info">
    <h1 class="title" id="J-desc"></h1>
    <ul class="d-cul">
	  <li><label>价格:</label><ins class="red dc-origin">￥<%= info.price %></ins></li>

<% if(info.delivery.deliveryFeeType != 0){ %>
	  <li class="dc-area"><label>运费:</label>
      <% if(info.delivery.deliveryFeeType == 2){%>
          <%= info.delivery.title %>
      <%} else if(info.delivery.deliveryFeeType == 1){%>
		<span class="dc-delivery"> <%= _.map(info.delivery.deliveryFees,function(item){return item.title}).join(' ') %></span>
      <%}%>

      <% if(mallInfo && mallInfo.allAreaSold == false){ %>
            <span class="font12 di-gy di-adsxg"><span class="dia-city" c="areaId"><%= info.delivery.destination %></span><b class="aw down"></b></span>
         <%} else if(info.delivery.deliveryFeeType != 2){ %>
            <span class="font12"> 至 <span class="di-gy"><%= info.delivery.destination%></span></span>
      <%}%>
      </li>
      <%if(mallInfo && mallInfo.allAreaSold == false){%>
        <li class="di-area none"> <div class="c-loading"><span></span></div></li>
      <%}%>


<%}%>
	    <li><label>月销:</label><%= info.totalSoldQuantity %>件</li>
    </ul>
</section>
