<p class="dm-cp"><a href="#comment/<%= itemId%>">用户评论（8586）</a><b class="aw right"></b></p>
<p class="dm-cp"><a href="#imaglet/<%= itemId%>">图文详情（总12页）</a><b class="aw right"></b></p>
<ul class="d-cul">
    <li class="dmf-li"><label>卖家:</label><span class="dm-name"><%= seller.nick %></span><img src="<%= app.helper.convertCredit(seller.credit.level) %>"/></li>
    <li><label>地点:</label><span class="gray12"><%= seller.location%></span></li>
    <li><label>动态:</label><span class="gray12">
        <%if(seller.evaluateInfo && seller.evaluateInfo.length == 3){ %>
         描述 <i class="red"><%= seller.evaluateInfo[2].score %></i> 服务 <i class="red"><%= seller.evaluateInfo[1].score%></i> 物流 <i class="red"><%= seller.evaluateInfo[0].score %></i>　
        <%}%>好评率 <%= seller.goodRatePercentage %>
    </span></li>
    <% if(guarantees && guarantees.length){ %>
    <li><label>保障:</label><% _.each(guarantees,function(guarantee){ %>
    <img src="<%= guarantee.icon%>_16x16.jpg" />
    <% }) } %></li>
</ul>
<p class="dm-enter dm-five"><a href="http://shop.<%= app.helper.fetchHost()%>.taobao.com/shop/shopIndex.htm?user_id=<%= seller.userNumId%>">进入店铺</a></p>
