<%_.each(goods,function(good){%>
    <% _.each(good.boughtItem,function(boughtItem){%>
    <li class="z-mod" id="J-commentItem-<%= good.orderId %>-<%= boughtItem.itemId%>" data-orderId="<%= good.orderId%>" data-id="<%= good.orderId %>-<%= boughtItem.itemId %>" data-itemId="<%= boughtItem.itemId %>"  data-ratedUid="<%= good.sellerId%>"  data-tradeId="<%= good.orderId %>" data-parentTradeId="<%= good.orderId %>">
        <div class="good-item">
            <div class="hd good-hd">
                <a href="#detail/<%= boughtItem.itemId%>"><img src="<%= boughtItem.pic %>"/></a>
            </div>
            <div class="bd good-bd">
                 <p><a href="#detail/<%= boughtItem.itemId%>"><%= boughtItem.title %></a></p>
                 <div class="price">￥<%= boughtItem.price %></div>
            </div>
        </div>
        <div id="J-comment-<%= good.orderId %>-<%= boughtItem.itemId %>"> </div>
    </li>
    <% })%>
<%})%>

