<%_.each(goods,function(good){%>
    <% _.each(good.orderInfo.orderCell,function(boughtItem){%>
    <li class="z-mod" id="J-commentItem-<%= good.orderInfo.bizOrderId %>-<%= boughtItem.itemId%>" data-orderId="<%= good.orderInfo.bizOrderId%>" data-id="<%= good.orderInfo.bizOrderId %>-<%= boughtItem.itemId %>" data-ratedUid="<%= good.sellerInfo.sellerId %>" data-itemId="<%= boughtItem.itemId %>"    data-tradeId="<%= boughtItem.orderId %>" data-parentTradeId="<%= good.orderInfo.bizOrderId %>">
        <div class="good-item">
            <div class="hd good-hd">
                <a href="#detail/<%= boughtItem.itemId%>"><img src="<%= boughtItem.pic %>"/></a>
            </div>
            <div class="bd good-bd">
                 <p><a href="#detail/<%= boughtItem.itemId%>"><%= _.escape(boughtItem.title) %></a></p>
                 <div class="price">￥<%= boughtItem.sPrice %></div>
            </div>
        </div>
        <div id="J-comment-<%= good.orderInfo.bizOrderId %>-<%= boughtItem.itemId %>"> </div>
    </li>
    <% })%>
<%})%>

