<%_.each(goods,function(good,i){%>
    <% _.each(good.orderInfo.orderCell,function(boughtItem,j){%>
    <li class="z-mod" data-config = '{"itemId":<%= boughtItem.itemId %>,"orderId":<%= good.orderInfo.bizOrderId%>,"ratedUid":<%= good.sellerInfo.sellerId %>,"tradeId":<%= boughtItem.orderId %>,"parentTradeId":<%= good.orderInfo.bizOrderId %>}'>
        <div class="good-item">
            <div class="hd good-hd">
                <a href="#detail/<%= boughtItem.itemId%>"><img src="<%= boughtItem.pic %>"/></a>
            </div>
            <div class="bd good-bd">
                 <p><a href="#detail/<%= boughtItem.itemId%>"><%= _.escape(boughtItem.title) %></a></p>
                 <div class="price">￥<%= boughtItem.sPrice %></div>
            </div>
        </div>
        <div id="J-comment-<%= i%>-<%= j%>" class="J-commentFt"> </div>
    </li>
    <% })%>
<%})%>

